//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.account-banner {
    text-align: right;
    font-size: 16px;
    font-family: 'proxima_nova', Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    z-index: 60;
    clear: none;
    background: transparent;
    border-bottom: 1px solid #bfc1c3;
    vertical-align: middle;
    padding-bottom: 20px;
}

.interruption-card {
    padding: 2em 3em;
    background-color: govuk-colour("blue");
  
    &.interruption-card-paper {
      background-color: govuk-colour("blue");
    }
    @include govuk-media-query($until: tablet) {
      background-image: none !important;
    }
  
    .govuk-button {
      background-color: govuk-colour("white");
      color: govuk-colour("black");
  
      &:hover {
        background-color: govuk-colour("mid-grey");
      }
    }
  
    h1 {
      color: govuk-colour("white");
    }
  
    .govuk-body,
    .govuk-body-l {
      color: govuk-colour("white");
    }
  
    ul {
      color: govuk-colour("white");
      width: 75%;
      @include govuk-media-query(mobile) {
        width: 100%;
        margin-top: .5em;
      }
  
      li {
        h2 {
          padding-bottom: .5em;
          display: inline-block;
          width: 85%;
          margin: 0 0 0 .2em;
          @include govuk-media-query(mobile) {
            width: 80%;
          }
        }
  
        span {
          vertical-align: top;
        }
      }
    }
  
    .govuk-link.govuk-link--interrupt {
      color: govuk-colour("black");
    }
  
    .govuk-link {
      color: govuk-colour("white");
    }
  
    .button {
      background-color: govuk-colour("white");
      color: $govuk-link-colour;
      font-weight: 700;
  
      &:focus,
      &:hover {
        background-color: govuk-colour("light-grey");
        color: $govuk-link-colour;
      }
    }
  
    .circle-white {
      background-color: govuk-colour("white");
      color: govuk-colour("black");
      margin-right: .5em;
      position: relative;
      top: -.3em;
    }
  }
  
  .ch-upload-list {
    @include govuk-font($size: 19);
    @include govuk-text-colour;
    @include govuk-media-query($from: tablet) {
      width: 100%;
    }
    margin: 0; // Reset default user agent styles
    @include govuk-responsive-margin(6, 'bottom');
  }
  
  .ch-upload-list__row {
    @include govuk-responsive-padding(2);
    @include govuk-media-query($until:tablet) {
      margin-bottom: govuk-spacing(2);
      border: 1px solid $govuk-border-colour;
    }
    @include govuk-media-query($from: tablet) {
      margin-bottom: govuk-spacing(2);
      border: 1px solid $govuk-border-colour;
    }
  }
  
  .ch-upload-list__actions,
  .ch-upload-list__key,
  .ch-upload-list__value {
    display: inline-block;
    margin: 0; // Reset default user agent styles
    @include govuk-responsive-padding(1, 'top');
    @include govuk-responsive-padding(1, 'bottom');
    @include govuk-font($size: 19);
    @include govuk-media-query($from: tablet) {}
  }
  
  .ch-upload-list__actions {
    @include govuk-media-query($from: tablet) {
      width: 20%;
      text-align: right;
    }
  }
  
  .ch-upload-list__key,
  .ch-upload-list__value {
    // Automatic wrapping for unbreakable text (e.g. URLs)
    word-wrap: break-word; // Fallback for older browsers only
    overflow-wrap: break-word;
    width: 79%;
  }
  
  .ch-upload-list__key {
    margin-bottom: govuk-spacing(1);
    @include govuk-typography-weight-bold;
    @include govuk-media-query($from: tablet) {
      width: 0;
    }
  }
  
  .ch-upload-list__value {
    @include govuk-media-query($until: tablet) {
      margin-bottom: govuk-spacing(3);
    }
    @include govuk-media-query($from: tablet) {
      width: 79%;
    }
  }
  
  // Expand width when value is last column (no action)
  .ch-upload-list__value:last-child {
    @include govuk-media-query($from: tablet) {
      width: 70%;
    }
  }
  
  .ch-upload-list__value > p {
    margin-bottom: govuk-spacing(2);
  }
  
  .ch-upload-list__value > :last-child {
    margin-bottom: 0;
  }
  
  .ch-upload-list__actions-list {
    width: 100%;
    margin: 0; // Reset default user agent styles
    padding: 0; // Reset default user agent styles
  }
  
  .ch-upload-list__actions-list-item {
    display: inline;
    margin-right: govuk-spacing(2);
    padding-right: govuk-spacing(2);
  }
  
  // In older browsers such as IE8, :last-child is not available,
  // so only show the border divider where it is available.
  .ch-upload-list__actions-list-item:not(:last-child) {
    border-right: 1px solid $govuk-border-colour;
  }
  
  .ch-upload-list__actions-list-item:last-child {
    margin-right: 0;
    padding-right: 0;
    border: 0;
  }
  
  // No border on entire summary list
  .ch-upload-list--no-border {
    @include govuk-media-query($until: tablet) {
      .ch-upload-list__row {
        border: 0;
      }
    }
  
    @include govuk-media-query($from: tablet) {
      .ch-upload-list__actions,
      .ch-upload-list__key,
      .ch-upload-list__value {
        // Remove 1px border, add 1px height back on
        padding-bottom: govuk-spacing(2) + 1px;
        border: 0;
      }
    }
  }
  
  // No border on specific rows
  .ch-upload-list__row--no-border {
    @include govuk-media-query($until: tablet) {
      border: 0;
    }
  
    @include govuk-media-query($from: tablet) {
      .ch-upload-list__actions,
      .ch-upload-list__key,
      .ch-upload-list__value {
        // Remove 1px border, add 1px height back on
        padding-bottom: govuk-spacing(2) + 1px;
        border: 0;
      }
    }
  }

  .file-upload {
    border-style: solid;
    border-width: thin;
    border-color: #bfc1c3;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
  }

  .upload_button {
    font-size: 1.1875rem;
    padding: 5px;
  }
