{% extends "layouts/main.html" %}

{% block pageTitle %}
Appeal due to ill health: Who was ill?
{% endblock %}

{% block beforeContent %}
  {% include "../includes/phase-banner.html" %}
  {% include "../includes/account-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- Check for error -->
      {% if errorIllPerson %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}

      <form action="{{currentUrl}}" method="post">

        <!-- Check for error -->
        {% if errorAppealReason %}
        <div class="govuk-form-group govuk-form-group--error">
        {% else %}
        <div class="govuk-form-group">
        {% endif %} 
          <fieldset class="govuk-fieldset" aria-describedby="illPerson-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Who was ill?
              </h1>
            </legend>
            <!-- Check for error -->
            {% if errorRef %}
            <p id="illPerson-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> You must select a person
            </p>
            {% endif %} 
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="illPerson" name="illPerson" type="radio" value="Director">
                <label class="govuk-label govuk-radios__label" for="illPerson">
                  A company director
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="illPerson-2" name="illPerson" type="radio" value="Accountant">
                <label class="govuk-label govuk-radios__label" for="illPerson-2">
                  A company accountant or agent
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="illPerson-3" name="illPerson" type="radio" value="Family">
                <label class="govuk-label govuk-radios__label" for="illPerson-3">
                  A family member of a director
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="illPerson-4" name="illPerson" type="radio" value="Employee">
                <label class="govuk-label govuk-radios__label" for="illPerson-4">
                  A company employee
                </label>
              </div>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="illPerson-5" name="illPerson" type="radio" value="Other Person" data-aria-controls="conditional-relationship">
                  <label class="govuk-label govuk-radios__label" for="illPerson-5">
                    Someone else
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-relationship">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="relationship">
                      Their relationship to the company
                    </label>
                    <input class="govuk-input govuk-!-width-one-third" id="relationship" name="relationship">
                  </div>
                </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
              text: "Continue"
            }) }}

      </form>
    </div>
  </div>

{% endblock %}