{% extends "layouts/main.html" %}

{% block pageTitle %}
  You must tell us the reason for the appeal
{% endblock %}

{% block beforeContent %}
  {% include "../includes/phase-banner.html" %}
  {% include "../includes/account-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- Check for error -->
      {% if errorAppealReason %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}
      <form action="{{currentUrl}}" method="post">

        <!-- Check for error -->
        {% if errorAppealReason %}
        <div class="govuk-form-group govuk-form-group--error">
        {% else %}
        <div class="govuk-form-group">
        {% endif %} 
          <fieldset class="govuk-fieldset" aria-describedby="psc-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Why are you appealing this penalty?
              </h1>
            </legend>
            <!-- Check for error -->
            {% if errorRef %}
            <p id="appealReason-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> You must select a reason
            </p>
            {% endif %} 
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="appealReason" name="appealReason" type="radio" value="illness">
                <label class="govuk-label govuk-radios__label" for="appealReason">
                  Illness and health issues
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="appealReason-2" name="appealReason" type="radio" value="other">
                <label class="govuk-label govuk-radios__label" for="appealReason-2">
                  I'm appealing for another reason
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}