{% extends "layouts/main.html" %}

{% block pageTitle %}
Appeal due to ill health: Tell us when the illness started
{% endblock %}

{% block beforeContent %}
  {% include "../includes/phase-banner.html" %}
  {% include "../includes/account-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{currentUrl}}" method="post">

        {{ govukDateInput({
          id: "illness-start",
          namePrefix: "illness-start",
          fieldset: {
            legend: {
              text: "When did the illness start?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "For example, 31 3 1980"
          },
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              value: illnessStartDay
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              value: illnessStartMonth
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              value: illnessStartYear
            }
          ]
        }) }}


        {{ govukButton({
             text: "Continue"
            }) }}
      </form>
    </div>
  </div>

{% endblock %}