{% extends "layouts/main.html" %}

{% block pageTitle %}
Appeal due to other reason: Tell us when the other reason started
{% endblock %}

{% block beforeContent %}
  {% include "../includes/phase-banner.html" %}
  {% include "../includes/account-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{currentUrl}}" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="otherEnd-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                When did the reason your appealing the penalty end?
              </h1>
            </legend>
            <div id="otherEnd-hint" class="govuk-hint">
              For example, 27 3 2007
            </div>
            <div class="govuk-date-input" id="otherEnd">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="otherEnd-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="otherEnd-day" name="otherEnd-day" type="text" inputmode="otherEndDay">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="otherEnd-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="otherEnd-month" name="otherEnd-month" type="text" inputmode="otherEndMonth">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="otherEnd-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="otherEnd-year" name="otherEnd-year" type="text" inputmode="otherEndYear">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
             text: "Continue"
            }) }}
      </form>
    </div>
  </div>

{% endblock %}