{% extends "layouts/main.html" %}

{% block pageTitle %}
Appeal due to other reason: Tell us when the other reason started
{% endblock %}

{% block beforeContent %}
  {% include "../includes/phase-banner.html" %}
  {% include "../includes/account-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- Check for error -->
      {% if errorOtherStartDay or errorOtherStartMonth or errorOtherStartYear %}
      {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}
      <form action="{{currentUrl}}" method="post">

        <!-- Check for error -->
        {% if errorOtherStartDay or errorOtherStartMonth or errorOtherStartYear %}
        <div class="govuk-form-group govuk-form-group--error">
        {% else %}
        <div class="govuk-form-group">
        {% endif %} 
          <fieldset class="govuk-fieldset" role="group" aria-describedby="otherStart-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                When did it start?
              </h1>
            </legend>
            <!-- Check for error -->
            {% if errorOtherStartDay or errorOtherStartMonth or errorOtherStartYear %}
            <p id="otherStart-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> The date must include a day, month and year
            </p>
            {% endif %} 
            <div id="otherStart-hint" class="govuk-hint">
              Tell us when the reason for the appeal started.
            </div>
            <div class="govuk-date-input" id="otherStart">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="otherStart-day">
                    Day
                  </label>
                  <!-- Check for error -->
                  {% if errorOtherStartDay %}
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error" id="otherStart-day" name="otherStart-day" type="text" inputmode="otherStartDay">
                  {% else %}
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="otherStart-day" name="otherStart-day" type="text" inputmode="otherStartDay">
                  {% endif %} 
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="otherStart-month">
                    Month
                  </label>
                  <!-- Check for error -->
                  {% if errorOtherStartDay %}
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error" id="otherStart-month" name="otherStart-month" type="text" inputmode="otherStartMonth">
                  {% else %}
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="otherStart-month" name="otherStart-month" type="text" inputmode="otherStartMonth">
                  {% endif %} 
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="otherStart-year">
                    Year
                  </label>
                  <!-- Check for error -->
                  {% if errorOtherStartDay %}
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4 govuk-input--error" id="otherStart-year" name="otherStart-year" type="text" inputmode="otherStartYear">
                  {% else %}
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="otherStart-year" name="otherStart-year" type="text" inputmode="otherStartYear">
                  {% endif %} 
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
             text: "Continue"
            }) }}
      </form>
    </div>
  </div>

{% endblock %}