{% extends "layouts/main.html" %}

{% block pageTitle %}
Appeal due to other reason: Tell us when the other reason started
{% endblock %}

{% block beforeContent %}
  {% include "../includes/phase-banner.html" %}
  {% include "../includes/account-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorday or errorMonth or errorYear %}
      {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}
      <form action="{{currentUrl}}" method="post">

        {% if errorday or errorMonth or errorYear %}
        <div class="govuk-form-group govuk-form-group--error">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="otherEnd-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                When did it end?
              </h1>
            </legend>
            <div id="otherEnd-hint" class="govuk-hint">
              Tell us when the reason for the appeal ended.
            </div>
            <p id="illnessEnd-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> The date must include a day, month and year
            </p>
            <div class="govuk-date-input" id="otherEnd">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="otherEnd-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error" id="otherEnd-day" name="otherEnd-day" type="text" inputmode="otherEndDay">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="otherEnd-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error" id="otherEnd-month" name="otherEnd-month" type="text" inputmode="otherEndMonth">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="otherEnd-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4 govuk-input--error" id="otherEnd-year" name="otherEnd-year" type="text" inputmode="otherEndYear">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        {% else %}
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="otherEnd-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                When did it end?
              </h1>
            </legend>
            <div id="otherEnd-hint" class="govuk-hint">
              Tell us when the reason for the appeal ended.
            </div>
            <div class="govuk-date-input" id="otherEnd">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="otherEnd-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="otherEnd-day" name="otherEnd-day" type="text" inputmode="otherEndDay">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="otherEnd-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="otherEnd-month" name="otherEnd-month" type="text" inputmode="otherEndMonth">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="otherEnd-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="otherEnd-year" name="otherEnd-year" type="text" inputmode="otherEndYear">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        {% endif %}

        {{ govukButton({
             text: "Continue"
            }) }}
      </form>
    </div>
  </div>

{% endblock %}