{% extends "layouts/main.html" %}

{% block pageTitle %}
Appealing for other reasons
{% endblock %}

{% block beforeContent %}
  {% include "../includes/phase-banner.html" %}
  {% include "../includes/account-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{currentUrl}}" method="post">

        <h1 class="govuk-heading-xl">Tell us why you're appealing this penalty</h1>
        <p class="govuk-body-l">Anything you tell us to support your appeal will be kept confidential.</p>

        {{ govukInput({
          id: "your-name",
          name: "your-name",
          errorMessage: nameError,
          label: {
            text: "Your name"
          },
          value: yourName
        }) }}

        {{ govukInput({
          id: "relationship",
          name: "relationship",
          errorMessage: relationshipError,
          label: {
            text: "Your relationship to the companyp"
          },
          value: relationship
        }) }}


        {{ govukInput({
          id: "other-reason",
          name: "otherReason",
          errorMessage: titleError,
          label: {
            text: "Short title for the reason"
          },
          value: otherReason
        }) }}

        <div class="govuk-form-group">
          <label class="govuk-label" for="more-detail">
            Detailed description of the reason
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  What details should I include to support my appeal?
                </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body">You should include:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>any relevant dates - for example, the date of an incident that 
                    prevented the accounts from being filed (for example, a fire or 
                    bereavement), or the dates that a problem began and ended</li>
                  <li>names of people or organisations that prevented accounts from 
                    being filed on time, and their relationship to the company</li>
                </ul>
                <p class="govuk-body">If the person who usually files the accounts was not 
                  able to, tell us why no one else could file them.</p>
                <p class="govuk-body">If you were given advice by Companies House, include 
                  details of when and how you contacted us.</p>
              </div>
            </details>
          </label>
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"></textarea>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
