{% extends "layouts/main.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Sign in
{% endblock %}
{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "start"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if errorEmail or errorPassword %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
      {% endif %}
      <h1 class="govuk-heading-xl">Sign in to Companies House</h1>
      <p class="govuk-body">You cannot use your WebFiling details to sign in. You must sign in to or register a Companies House account.</p>

      <form action="{{currentUrl}}" method="post">
        {% if errorEmail %}
          {{ govukInput({
            label: {
              text: "Email address"
            },
            classes: "govuk-input--width-30",
            id: "emailAddress",
            value: data['emailAddress'],
            type: "email",
            name: "emailAddress",
            autocomplete: "email",
            errorMessage: {
              text: "Enter your email address"
            }
          }) }}
        {% else %}
          {{ govukInput({
            label: {
              text: "Email address"
            },
            classes: "govuk-input--width-30",
            type: "email",
            autocomplete: "email",
            id: "emailAddress",
            value: data['emailAddress'],
            name: "emailAddress"
          }) }}
        {% endif %}
        
        {% if errorPassword %}
          {{ govukInput({
            label: {
              text: "Password"
            },
            classes: "govuk-input--width-30",
            id: "password",
            value: data['password'],
            name: "password",
            type: "password",
            errorMessage: {
              text: "Enter your password"
            }
          }) }}
        {% else %}
          {{ govukInput({
            label: {
              text: "Password"
            },
            classes: "govuk-input--width-30",
            id: "password",
            value: data['password'],
            name: "password",
            type: "password"
          }) }}
        {% endif %}
        {{ govukButton({
        text: "Sign in"
        }) }}
        <p>
          <a href="" class="govuk-link govuk-link--no-visited-state">Register</a>
        </p>
        <p>
          <a href="" class="govuk-link govuk-link--no-visited-state">Forgotten your password?</a>
        </p>
      </form>
    </div>
  </div>

{% endblock %}