{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      {{serviceName}}
    </h1>

    <h2 class="govuk-heading-l">Prototype versions</h2>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#v2">
            Version 2
          </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#v1">
            Version 1
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#live">
            Live
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="v2">
        <h2 class="govuk-heading-l">Version 2</h2>

        <h3 class="govuk-heading-m">May 2023</h3>

        <hr>

        <h3 class="govuk-heading-m">Shortcuts</h3>
        <h3 class="govuk-heading-s">Journey</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="v2/start.html" class="govuk-link govuk-link--no-visited-state">Start</a>
          </li>
          <li>
            <a href="v2/signin.html" class="govuk-link govuk-link--no-visited-state">Sign in</a>
          </li>
          <li>
            <a href="v2/penalty-reference.html" class="govuk-link govuk-link--no-visited-state">Penalty reference</a>
          </li>
          <li>
            <a href="v2/review-penalty.html" class="govuk-link govuk-link--no-visited-state">Review penalty</a>
          </li>
          <li>
            <a href="v2/choose-reason.html" class="govuk-link govuk-link--no-visited-state">Choose reason</a>
          </li>
          <li>
            <a href="v2/who-was-ill.html" class="govuk-link govuk-link--no-visited-state">Who was ill</a>
          </li>
          <li>
            <a href="v2/illness-start-date.html" class="govuk-link govuk-link--no-visited-state">Illness start date</a>
          </li>
          <li>
            <a href="v2/continued-illness.html" class="govuk-link govuk-link--no-visited-state">Continued illness</a>
          </li>
          <li>
            <a href="v2/illness-end-date.html" class="govuk-link govuk-link--no-visited-state">Illness end date</a>
          </li>
          <li>
            <a href="v2/illness-information.html" class="govuk-link govuk-link--no-visited-state">Illness information</a>
          </li>
          <li>
            <a href="v2/name.html" class="govuk-link govuk-link--no-visited-state">Name</a>
          </li>
          <li>
            <a href="v2/relationship.html" class="govuk-link govuk-link--no-visited-state">Relationship</a>
          </li>
          <li>
            <a href="v2/evidence.html" class="govuk-link govuk-link--no-visited-state">Evidence</a>
          </li>
          <li>
            <a href="v2/evidence-upload.html" class="govuk-link govuk-link--no-visited-state">Evidence upload</a>
          </li>
          <li>
            <a href="v2/check-your-answers.html" class="govuk-link govuk-link--no-visited-state">Check your answers</a>
          </li>
          <li>
            <a href="v2/confirmation.html" class="govuk-link govuk-link--no-visited-state">confirmation</a>
          </li>
          <li>
            <a href="v2/other-reason-entry.html" class="govuk-link govuk-link--no-visited-state">Other reason entry</a>
          </li>
          <li>
            <a href="v2/reason-other.html" class="govuk-link govuk-link--no-visited-state">reason-other</a>
          </li>
          <li>
            <a href="v2/other-start-date.html" class="govuk-link govuk-link--no-visited-state">Other reason start date</a>
          </li>
          <li>
            <a href="v2/other-end-date.html" class="govuk-link govuk-link--no-visited-state">Other reason start date</a>
          </li>
          <li>
            <a href="v2/continued-other.html" class="govuk-link govuk-link--no-visited-state">Continued other reason</a>
          </li>
        </ul>

        <h3 class="govuk-heading-s">Screen flow diagram</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1677140732656/efb7b3b93e0a9f9953e0c153b7e8dbb9ae2d77b0?sender=u9bc72e5725f1871777091172" class="govuk-link govuk-link--no-visited-state" target="_blank">Mural screen flow diagram</a>
          </li>
        </ul>

        <hr>

        <h3 class="govuk-heading-m">Changes this version</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>xxx</li><br>
        </ul>

      </div>
      <div class="govuk-tabs__panel" id="v1">
        <h2 class="govuk-heading-l">Version 1</h2>

        <h3 class="govuk-heading-m">February 2023</h3>

        <hr>

        <h3 class="govuk-heading-m">Shortcuts</h3>
        <h3 class="govuk-heading-s">Journey</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="v1/start.html" class="govuk-link govuk-link--no-visited-state">Start</a>
          </li>
          <li>
            <a href="v1/signin.html" class="govuk-link govuk-link--no-visited-state">Sign in</a>
          </li>
          <li>
            <a href="v1/penalty-reference.html" class="govuk-link govuk-link--no-visited-state">Penalty reference</a>
          </li>
          <li>
            <a href="v1/review-penalty.html" class="govuk-link govuk-link--no-visited-state">Review penalty</a>
          </li>
          <li>
            <a href="v1/choose-reason.html" class="govuk-link govuk-link--no-visited-state">Choose reason</a>
          </li>
          <li>
            <a href="v1/who-was-ill.html" class="govuk-link govuk-link--no-visited-state">Who was ill</a>
          </li>
          <li>
            <a href="v1/illness-start-date.html" class="govuk-link govuk-link--no-visited-state">Illness start date</a>
          </li>
          <li>
            <a href="v1/continued-illness.html" class="govuk-link govuk-link--no-visited-state">Continued illness</a>
          </li>
          <li>
            <a href="v1/illness-end-date.html" class="govuk-link govuk-link--no-visited-state">Illness end date</a>
          </li>
          <li>
            <a href="v1/illness-information.html" class="govuk-link govuk-link--no-visited-state">Illness information</a>
          </li>
          <li>
            <a href="v1/name.html" class="govuk-link govuk-link--no-visited-state">Name</a>
          </li>
          <li>
            <a href="v1/relationship.html" class="govuk-link govuk-link--no-visited-state">Relationship</a>
          </li>
          <li>
            <a href="v1/evidence.html" class="govuk-link govuk-link--no-visited-state">Evidence</a>
          </li>
          <li>
            <a href="v1/evidence-upload.html" class="govuk-link govuk-link--no-visited-state">Evidence upload</a>
          </li>
          <li>
            <a href="v1/check-your-answers.html" class="govuk-link govuk-link--no-visited-state">Check your answers</a>
          </li>
          <li>
            <a href="v1/confirmation.html" class="govuk-link govuk-link--no-visited-state">confirmation</a>
          </li>
          <li>
            <a href="v1/other-reason-entry.html" class="govuk-link govuk-link--no-visited-state">Other reason entry</a>
          </li>
          <li>
            <a href="v1/reason-other.html" class="govuk-link govuk-link--no-visited-state">reason-other</a>
          </li>
          <li>
            <a href="v1/other-start-date.html" class="govuk-link govuk-link--no-visited-state">Other reason start date</a>
          </li>
          <li>
            <a href="v1/other-end-date.html" class="govuk-link govuk-link--no-visited-state">Other reason start date</a>
          </li>
          <li>
            <a href="v1/continued-other.html" class="govuk-link govuk-link--no-visited-state">Continued other reason</a>
          </li>
        </ul>

        <h3 class="govuk-heading-s">Screen flow diagram</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1677140732656/efb7b3b93e0a9f9953e0c153b7e8dbb9ae2d77b0?sender=u9bc72e5725f1871777091172" class="govuk-link govuk-link--no-visited-state" target="_blank">Mural screen flow diagram</a>
          </li>
        </ul>

        <hr>

        <h3 class="govuk-heading-m">Changes this version</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>Content moved out of 'Details' component on the "How 
            did this affect your ability to file on time?" page and 
            on the "Tell us why you're appealing this penalty" page. 
            The name and 'Relationship' inputs have been removed from 
            these pages and given there own page each as it didn't fit having them 
            on the same page</li><br>

          <li>New screens added to 'Other reason' path to gather date started and date ended. New screens listed below -
            <ul class="govuk-list govuk-list--number">
              <li>"When did it start?"</li>
              <li>"Is it still ongoing?"</li>
              <li>"When did it end?"</li>
            </ul>
          </li>
        </ul>

      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="live">
        <h2 class="govuk-heading-l">Live</h2>

        <h3 class="govuk-heading-m">February 2023</h3>

        <hr>

        <h3 class="govuk-heading-s">Screen flow diagram</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="https://app.mural.co/invitation/mural/companieshouse8589/1677139173398?sender=u9bc72e5725f1871777091172&key=7dfc38af-0657-4dfb-bf51-7c171db2c2a5" class="govuk-link govuk-link--no-visited-state" target="_blank">Mural screen flow diagram</a>
          </li>
        </ul>

        <h3 class="govuk-heading-s">Gov.uk</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="https://www.gov.uk/appeal-a-penalty-for-filing-your-company-accounts-late" class="govuk-link govuk-link--no-visited-state">Live start page</a>
          </li>
        </ul>

      </div>
    </div>

    </ul>
    <h2 class="govuk-heading-l">Other information</h2>

    <p>None</p>
  </div>
</div>

{% endblock %}
